
body {
   background:rgb(241, 223, 223);   
    font-family:sans-serif;                             
    }

.prod_space{
            margin-top: 10px;
            padding:4px;
        }
        .prod_space_text{
            font-size: large;
            font-family: sans-serif;
            margin-bottom: 4px;
        }

.div1 {
            background-color:#eb9799;
            border-radius: 16px;
            padding: 32px;
            border: 2px solid rgb(212, 85, 85);
            margin-left: 12px;   
            margin-right: 12px;
            width:400px;
            
        }
        .div1 h3 {
            
            /* font-size: 16px; */
            font-weight: bold;
            margin-bottom: 24px;
        }

